.modal-form {
  background-color: var(--bg-cl);
  padding-bottom: 50px;

}

form {
  width: 328px;
  margin: 0 auto;
  position: relative;
  @media screen and (min-width: 768px) {
    width: 380px;

  }
}

form::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; 
  height: 100%; 
  background:rgba(51, 51, 51, 0.9) ur1("../images/logo_img.png") center 50px no-repeat; 
  // gif
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
  }
  

input[name="name"],
input[name="email"], 
input[name="tel"] {
  width: 100%;
  height: 54px;
  border: 1px solid #D0CFCF;
  border-radius: 4px;
  margin-top: 50px;
  padding-left: 16px;
  font-size: var(--body-font-size);
  line-height: var(--body-lineheight);
  color: var(--input-text-color);
  background-color: var(--bg-cl);
  outline-color: rgb(192, 192, 8);
}

 
.error{
  box-shadow: 0 0 15px red;
}
#name-input {
  margin-top: -1px;

}

.telephone {
  font-size: 12px;
  line-height: 14px;
  color: var(--input-text-color);
  padding-left: 16px;

}

.fieldset {
  border: none;
  margin-top: 18px;
}

legend {
  margin-bottom: 9px;
}

.input-wrap {
  position: relative;
}

.input-wrap+.input-wrap {
  margin-top: 7px;
}

.input-wrap>p {
  padding-left: 30px;
}

.input-radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  z-index: 10;
  opacity: 0;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #D0CFCF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle__inside {
  opacity: 0;
  visibility: hidden;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #00BDD3;
  border: 1px solid #00BDD3;
}

.input-radio:checked~.circle {
  border: 1px solid #00BDD3;

  & .circle__inside {
    opacity: 1;
    visibility: visible;
  }
}

.load-img {
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 54px;
  margin-top: 74px;
}

.file-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 54px;
  width: 83px;
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 4px 0px 0px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-img {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: calc(100% - 83px);
}

.load-input {
  width: 100%;
  padding-left: 99px;
  height: 54px;
  background: #F8F8F8;
  border: 1px solid #D0CFCF;
  border-radius: 4px;

  &::placeholder {
    color: var(--input-text-color);
    font-size: var(--body-font-size);
    line-height: var(--body-lineheight);
  }
}

.modal-form-btn {
  margin: 0 auto;
  margin-top: 24px;

}
.file__preview__js{
  position: absolute;
  bottom: -35px;
  left: 384px;
  opacity: 0.6;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: -8px 7px 5px 0px rgba(195,182,204,1);
}