:root {
  /* Fonts */
  --main-font: 'Nunito', sans-serif;
  --heading-font-size: 40px; 
  --heading-lineheight: 1;
  --h2-font-size: 22px; 
  --h2-lineheight: 1.27;
  --body-font-size: 16px; 
  --body-lineheight: 162%;
  --text-color: rgba(0, 0, 0, 0.87);
  --input-text-color: #7E7E7E;
  --light-text-color: #FFF;
  --dis-btn-text-color: rgba(255, 255, 255, 0.87);

  /* Primary color */
  --primary-cl: #F4E041;
  --secondary-cl:#00BDD3;
  --bg-cl: #F8F8F8;

}
