<section class="contacts" id="contacts">
  <h2 class="visually-hidden">Header</h2>
  <div class="container">
    <h2 class="contacts__title">Working with GET request</h2>

    <ul class="contacts__list">
      <li class="contacts__item">
        <a href="" class="contacts__link">
          <picture>
            <source srcset="/src/images/contacts/salvador.png 1x, /src/images/contacts/salvador_2x.png 2x" />
            <img src="/src/images/contacts/salvador.png" alt="salvador" class="contacts__img">
          </picture>
          <h3 class="contacts__name"  data-tooltip="Salvador Stewart Flynn Thomas Salva">Salvador Stewart Flynn Thomas Salva</h3> </a>
         <div class="contacts__adress">
            <span class="contacts__job-title" data-tooltip="Leading specialist of the department o">Leading specialist of the department o</span>
            <a href="mailto:JeromeKlarkaJeromeKlarka19233623" class="contacts__email" data-tooltip="JeromeKlarkaJeromeKlarka19233623">
              JeromeKlarkaJeromeKlarka19233623</a>
            <a href="tel:+38(098)2787624" class="contacts__tel" data-tooltip="+38 (098) 278 76 24">+38 (098) 278 76 24</a>
        
        </div>
       
      </li>
      <li class="contacts__item">
        <a href="" class="contacts__link">
          <picture>
            <source srcset="/src/images/contacts/takamaru.png 1x, /src/images/contacts/takamaru_2x.png 2x" />
            <img src="/src/images/contacts/takamaru.png" alt="takamaru" class="contacts__img">
          </picture>
          <h3 class="contacts__name" data-tooltip="Takamaru Ayako Jurrien">Takamaru Ayako Jurrien</h3> </a>
          <div class="contacts__adress">
            <span class="contacts__job-title" data-tooltip="Lead Independent Director">Lead Independent Director </span>
            <a href="mailto:Takamuru@gmail.com" class="contacts__email" data-tooltip="Takamuru@gmail.com">Takamuru@gmail.com</a>
            <a href="tel:+38(098)2789024" class="contacts__tel" data-tooltip="+38 (098) 278 90 24">+38 (098) 278 90 24</a>
          </div>
        
      </li>
      <li class="contacts__item">
        <a href="" class="contacts__link">
          <picture>
            <source srcset="/src/images/contacts/ilya.png 1x, /src/images/contacts/ilya_2x.png 2x" />
            <img src="/src/images/contacts/ilya.png" alt="ilya" class="contacts__img">
          </picture>
          <h3 class="contacts__name" data-tooltip="Ilya">Ilya</h3> </a>
          <div class="contacts__adress">
            <span class="contacts__job-title" data-tooltip="Co-Founder and CEO">Co-Founder and CEO</span>
            <a href="mailto:Ilya_founder@gmail.com" class="contacts__email" data-tooltip="Ilya_founder@gmail.com">Ilya_founder@gmail.com</a>
            <a href="tel:+38(098)2354424" class="contacts__tel" data-tooltip="+38 (098) 235 44 24">+38 (098) 235 44 24</a>
          </div>
       
      </li>
      <li class="contacts__item">
        <a href="" class="contacts__link">
          <picture>
            <source srcset="/src/images/contacts/alexandre.png 1x, /src/images/contacts/alexandre_2x.png 2x" />
            <img src="/src/images/contacts/alexandre.png" alt="alexandre" class="contacts__img">
          </picture>
          <h3 class="contacts__name" data-tooltip="Alexandre">Alexandre</h3> </a>
          <div class="contacts__adress">
            <span class="contacts__job-title" data-tooltip="Lead Independent Director">Lead Independent Director</span>
            <a href="mailto:Alexandr_develop@gmail.co" class="contacts__email" data-tooltip="Alexandr_develop@gmail.com">Alexandr_develop@gmail.com</a>
            <a href="tel:+38(098)1984424" class="contacts__tel" data-tooltip="+38 (098) 198 44 24">+38 (098) 198 44 24</a>
          </div>
      
      </li>
      <li class="contacts__item">
        <a href="" class="contacts__link">
          <picture>
            <source srcset="/src/images/contacts/winny.png 1x, /src/images/contacts/winny_2x.png 2x" />
            <img src="/src/images/contacts/winny.png" alt="winny" class="contacts__img">
          </picture>
          <h3 class="contacts__name" data-tooltip="Winny">Winny</h3> </a>
          <div class="contacts__adress">
            <span class="contacts__job-title" data-tooltip="Former Senior Director">Former Senior Director</span>
            <a href="mailto:Winny_develop@gmail.com" class="contacts__email" data-tooltip="Winny_develop@gmail.com">Winny_develop@gmail.com</a>
            <a href="tel:+38(098)2782288" class="contacts__tel" data-tooltip="+38 (098) 278 22 88">+38 (098) 278 22 88</a>
          </div>
      
      </li>
      <li class="contacts__item">
        <a href="" class="contacts__link">
          <picture>
            <source srcset="/src/images/contacts/simon.png 1x, /src/images/contacts/simon_2x.png 2x" />
            <img src="/src/images/contacts/simon.png" alt="simon" class="contacts__img">
          </picture>
          <h3 class="contacts__name" data-tooltip="Simon">Simon</h3> </a>

          <div class="contacts__adress">
            <span class="contacts__job-title" data-tooltip="President of Commerce">President of Commerce</span>
            <a href="mailto:Simon@gmail.com" class="contacts__email" data-tooltip="Simon@gmail.com">Simon@gmail.com</a> 
            
            <a href="tel:+38(098)2784400" class="contacts__tel" data-tooltip="+38 (098) 278 44 00">+38 (098) 278 44 00</a>
          </div>
      </li>
    </ul>
    <button class="contacts__btn btn" type="button">Show more</button>

  </div>
</section>