<header class="header">
  <section>
    <div class="header__container container">

      <a class="header__logo" href="/src/index.html">
        <picture>
          <source srcset="/src/images/logo/logo_1024.png 1x, /src/images/logo/logo_1024_2x.png 2x"
            media="(min-width: 1024px)" />
          <source srcset="/src/images/logo/logo_768.png 1x, /src/images/logo/logo_768_2x.png 2x"
            media="(min-width: 768px)" />
          <source srcset="/src/images/logo/logo.png 1x, /src/images/logo/logo_768_2x.png 2x"
            media="(max-width: 767px)" />
          <img class="header__img" src="/src/images/logo/logo.png" width="104" height="26" alt="logo">
        </picture>

      </a>

      <div class="header__btns">
        <ul class="btns">
          <li class="nav__item"><a class="header__btn btn" href="#contacts">Users</a></li>
          <li class="nav__item"><a class="header__btn btn" href="#modal-form">Sign up</a></li>
        </ul>
      </div>

    </div>
  </section>
</header>

 
  

  