<header class="header">
  <section>
    <h2 class="visually-hidden">Header</h2>
    <div class="header__container container">
      <a class="header__logo" href="/src/index.html">

        <svg class="header__img" width="104" height="26">
          <use href="/src/images/icon.svg/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>
      <div class="header__btns">
        <ul class="btns">
          <li class="nav__item"><a class="header__btn btn" href="#contacts">Users</a></li>
          <li class="nav__item"><a class="header__btn btn" href="#modal-form">Sign up</a></li>
        </ul>
      </div>

    </div>
  </section>
</header>

 
  

  